DirectoryIndex index.php

RewriteEngine On

# Remove www subdomain
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]
# Force HTTPS
RewriteCond %{HTTP_HOST} ^mikedilger [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Forward old urls
RewriteRule ^index.html / [R=301,NC,L]
RewriteRule ^background.html /background [R=301,NC,L]
RewriteRule ^tvpresenting.html|tvPresenting.php /broadcasting [R=301,NC,L]
RewriteRule ^otherWork.php /writing [R=301,NC,L]
RewriteRule ^contact.html /contact [R=301,NC,L]
RewriteRule ^updates.php /follow [R=301,NC,L]

# Remove .php file extensions 
RewriteCond %{THE_REQUEST} /(follow|broadcasting|writing|background|contact|showreel)\.php [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,NC,L]

# Serve clean page URLs
RewriteRule ^(follow|broadcasting|writing|background|contact|showreel)$ $1.php [NC,L]
