RewriteEngine On

# Remove www subdomain
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]
# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(staging\.)?mikedilger [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Forward old urls
Redirect 301 /index.html http://mikedilger.co.uk/index.php
Redirect 301 /background.html http://mikedilger.co.uk/background.php
Redirect 301 /tvpresenting.html http://mikedilger.co.uk/broadcasting.php
Redirect 301 /tvPresenting.php http://mikedilger.co.uk/broadcasting.php
Redirect 301 /otherWork.php http://mikedilger.co.uk/writing.php
