<?xml version="1.0" encoding="UTF-8"?>
<events>
	<event endTime="1321315200" startTime="1321228800">
		<title>See me on Inside Out Yorks </title>
		<description/>
		<location/>
	</event>
	<event endTime="1321401600" startTime="1321315200">
		<title>See me on The One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1321488000" startTime="1321401600">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1321747200" startTime="1321660800">
		<title>Butterfly Conservation's AGM</title>
		<description/>
		<location>Cheltenham Racecourse</location>
	</event>
	<event endTime="1322006400" startTime="1321920000">
		<title>Catch me on The One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1322265600" startTime="1322179200">
		<title>Lacey Lecture in Wrexham</title>
		<description/>
		<location>Glyndwr University\, Wrexham</location>
	</event>
	<event endTime="1322611200" startTime="1322524800">
		<title>Special guest at the Notts Green Guardian Awards</title>
		<description/>
		<location>Nottingham</location>
	</event>
	<event endTime="1322697600" startTime="1322611200">
		<title>Special lecture at Nottingham University</title>
		<description/>
		<location>Nottingham University</location>
	</event>
	<event endTime="1323129600" startTime="1323043200">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1323129600" startTime="1323043200">
		<title>See me on Inside Out Bristol </title>
		<description/>
		<location/>
	</event>
	<event endTime="1323216000" startTime="1323129600">
		<title>Talk at Green Volunteers\, Bristol</title>
		<description/>
		<location>Bristol</location>
	</event>
	<event endTime="1323388800" startTime="1323302400">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1323475200" startTime="1323388800">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1323734400" startTime="1323648000">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1323907200" startTime="1323820800">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1324080000" startTime="1323993600">
		<title>Talk for Avon Wildlife Trust</title>
		<description/>
		<location>Bristol</location>
	</event>
	<event endTime="1324512000" startTime="1324425600">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1325289600" startTime="1325203200">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1326153600" startTime="1326067200">
		<title>See me on Inside Out</title>
		<description/>
		<location/>
	</event>
	<event endTime="1326153600" startTime="1326067200">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1326758400" startTime="1326672000">
		<title>See me on the One Show talking swifts</title>
		<description/>
		<location/>
	</event>
	<event endTime="1326931200" startTime="1326844800">
		<title>See me on the One Show sofa talking about waders</title>
		<description/>
		<location/>
	</event>
	<event endTime="1327708800" startTime="1327276800">
		<title>See me on the One Show all week</title>
		<description/>
		<location/>
	</event>
	<event endTime="1328227200" startTime="1328140800">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1329177600" startTime="1329091200">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1329523200" startTime="1329436800">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1329955200" startTime="1329868800">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1330128000" startTime="1330041600">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1331078400" startTime="1330992000">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1331164800" startTime="1331078400">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1331337600" startTime="1331251200">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1332975600" startTime="1332889200">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1334876400" startTime="1334790000">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1335049200" startTime="1334962800">
		<title>See me at the London Birdwatch Show</title>
		<description/>
		<location>the London Birdwatch Show</location>
	</event>
	<event endTime="1335826800" startTime="1335740400">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1337122800" startTime="1337036400">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1337986800" startTime="1337900400">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1338073200" startTime="1337986800">
		<title>Canvey Island Wildlfe Day</title>
		<description/>
		<location/>
	</event>
	<event endTime="1338159600" startTime="1338073200">
		<title>A Day out with Dilger for the RSPB</title>
		<description/>
		<location/>
	</event>
	<event endTime="1338505200" startTime="1338418800">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1339974000" startTime="1339887600">
		<title>Bristol Festival of Nature</title>
		<description/>
		<location/>
	</event>
	<event endTime="1340319600" startTime="1340233200">
		<title>See me host the One Show Best of Britain tonight!</title>
		<description/>
		<location/>
	</event>
	<event endTime="1340665200" startTime="1340578800">
		<title>See me on The One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1341010800" startTime="1340924400">
		<title>See me host the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1342825200" startTime="1342393200">
		<title>See me on The One Show all week with Summer Holidaywatch</title>
		<description/>
		<location/>
	</event>
	<event endTime="1342738800" startTime="1342652400">
		<title>'My Garden and Other Animals' published!!</title>
		<description/>
		<location/>
	</event>
	<event endTime="1342911600" startTime="1342825200">
		<title>Book launch at Rostra Gallery in Bath!</title>
		<description/>
		<location>Rostra Gallery in Bath!</location>
	</event>
	<event endTime="1343084400" startTime="1342998000">
		<title>See me on Food Factory</title>
		<description/>
		<location/>
	</event>
	<event endTime="1343170800" startTime="1343084400">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1345417200" startTime="1345244400">
		<title>See me at the Rutland Birdfair!</title>
		<description/>
		<location/>
	</event>
	<event endTime="1345503600" startTime="1345417200">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1346281200" startTime="1346194800">
		<title>See me on The One show Roadshow in Sheffield</title>
		<description/>
		<location/>
	</event>
	<event endTime="1346367600" startTime="1346281200">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1346454000" startTime="1346367600">
		<title>Jam-making for the One Show!</title>
		<description/>
		<location/>
	</event>
	<event endTime="1347922800" startTime="1347836400">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1348009200" startTime="1347922800">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1348268400" startTime="1348182000">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1348873200" startTime="1348786800">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1349132400" startTime="1349046000">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1349305200" startTime="1349218800">
		<title>See me on the One Show sofa</title>
		<description/>
		<location/>
	</event>
	<event endTime="1350082800" startTime="1349996400">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1350774000" startTime="1350687600">
		<title>Talk for Notts Wildlife Trust</title>
		<description/>
		<location/>
	</event>
	<event endTime="1351292400" startTime="1350860400">
		<title>See on the One Show all week</title>
		<description/>
		<location/>
	</event>
	<event endTime="1351378800" startTime="1351292400">
		<title>RSPB in Glasgow</title>
		<description/>
		<location>Glasgow</location>
	</event>
	<event endTime="1351641600" startTime="1351555200">
		<title>Seed on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1351728000" startTime="1351641600">
		<title>Opening the Society of Wildlife Artists' exhibition at the Mall Galleries in London</title>
		<description/>
		<location>the Mall Galleries in London</location>
	</event>
	<event endTime="1351900800" startTime="1351814400">
		<title>See me on the One Show</title>
		<description/>
		<location/>
	</event>
	<event endTime="1351900800" startTime="1351814400">
		<title>Grand opening of the new hide at RSPB's Dart's Farm</title>
		<description/>
		<location>RSPB's Dart's Farm</location>
	</event>
	<event endTime="1353801600" startTime="1353715200">
		<title>Talk for the Derbs Wildlife Trust</title>
		<description/>
		<location/>
	</event>
	<event endTime="1354406400" startTime="1354320000">
		<title>The Secret World Ball</title>
		<description/>
		<location/>
	</event>
	<event endTime="1358812800" startTime="1358726400">
		<title>Froglife event in London</title>
		<description/>
		<location>London</location>
	</event>
	<event endTime="1358985600" startTime="1358899200">
		<title>Talk at RSPB Exeter</title>
		<description/>
		<location>RSPB Exeter</location>
	</event>
	<event endTime="1359072000" startTime="1358985600">
		<title>Talk at RSPB Brighton</title>
		<description/>
		<location>RSPB Brighton</location>
	</event>
	<event endTime="1359849600" startTime="1359072000">
		<title>Mike Dilger's Big 9 Challenge in conjenction with the WWT</title>
		<description/>
		<location/>
	</event>
	<event endTime="1361318400" startTime="1361232000">
		<title>Talk for RSPB Medway</title>
		<description/>
		<location/>
	</event>
</events>