/* Colour palette
	green: 			C3C65D
	blue: 			33619E
	dark grey: 		403C3E
	light orange: 	FFB630
	dark orange: 	D16F24	
*/

body,
html {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: gray;
}
html {
	overflow-y: scroll;
}
a {
	text-decoration: none;
	color: #D16F24;
	cursor: pointer;
}
a:hover,
.playLink:hover a {
	color: #FFB630 !important;
}
p {
	margin: 0 0 0.625em 0;
}
ul,
ol {
	margin: 0 0 0.625em -1.25em;
}
#header {
	width: 100%;
	min-width: 53.75em;
	position: relative;
	margin-top: -0.3125em;
}
#header .image {
	background-repeat: no-repeat !important;
	height: 12.5em;
	float: left;
	width: 50%;
	max-width: 50%;
	margin-bottom: 2.5em;
}
#header .image.left {
	background-position: right !important;
}
#header .image.right {
	background-position: left !important;
}
#logo {
	text-align: center;
	position: absolute;
	top: 6.4375em;
	width: 100%;
}
#logo img {
	position: relative;
	left: 1.1875em;
}
#navBar {
	margin: 0.3125em 0 1.25em 0;
	text-align: center;
	font-size: 112.5%;
	cursor: default;
}
#navBar a {
	color: #D0D0D0;
}
#content {
	width: 53.75em;
	margin: 0 auto;
	overflow: auto;
}
.tweet,
.event {
	line-height: 1.375em;
	margin-bottom: 0.625em;
}
.tweet .title,
.event .title,
.subHeading {
	font-size: 120%;
	color: #C3C65D;
	line-height: 1.146em;
}
.tweet .title::before,
.tweet .title::after {
	font-weight: bold;
	line-height: 0.7em;
	font-size: 170%;
	vertical-align: top;
}
.tweet .title::before {
	content: "\201C";
	display: inline-block;
	margin-right: 0.175em;
}
.tweet .title::after {
	content: "\201D";
	display: inline-block;
	margin-left: 0.175em;
}
.tweet .title a {
	color: #FFB630;
}
.tweet .time,
.event .description,
.event .location,
.event .time {
	font-size: 80%;
	color: gray;
	line-height: 1.328em;
	margin-top: 0.3125em;
}
.tweet .time a {
	color: gray;
}
.heading {
	color: #33619E;
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 0.3125em;
	font-style: italic;
}
#footer {
	width: 53.75em;
	margin: 0.625em auto;
	color: #D0D0D0;
	text-align: center;
	font-size: 80%;
}
#footer a {
	color: #D0D0D0;
}
.third {
	width: 16.25em;
	float: left;
	min-height: 24.375em;
}
.third.left {
	border-right: 1px solid #D0D0D0;
	padding-right: 1.1875em;
	margin-right: 1.25em;
}
.third.right {
	border-left: 1px solid #D0D0D0;
	padding-left: 1.1875em;
	margin-left: 1.25em;
}
.half {
	width: 25.625em;
	float: left;
}
.half.left {
	border-right: 1px solid #D0D0D0;
	padding-right: 1.25em;
}
.half.right {
	border-left: 1px solid #D0D0D0;
	padding-left: 1.1875em;
	margin-left: -1px;
}
.half.right img {
	width: 100%;
	display: block;
	margin-bottom: 0.625em;
}
.half.right img.noSpace {
	margin-bottom: 0;
}
.playLink {
	height: 1.875em;
	background-image: url('images/play.png');
	background-position: top left;
	background-repeat: no-repeat;
	white-space: nowrap;
	line-height: 1.875em;
	cursor: pointer;
	margin-bottom: 0.625em;
	padding-left: 2.1875em;
	float: left;
}
.playLink:hover {
	background-position: bottom left;
}
.more {
	display: none;
	padding-top: 1.25em;
	clear: both;
}
.book {
	text-align: center !important;
	margin-top: 0.625em;
}
.book img {
	max-width: 9.375em;
	border: 1px solid #D0D0D0;
}