/* Colour palette
	green: 			C3C65D
	blue: 			33619E
	dark grey: 		403C3E
	light orange: 	FFB630
	dark orange: 	D16F24	
*/

body,
html {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	color: gray;
}
html {
	overflow-y: scroll;
}
a {
	text-decoration: none;
	color: #D16F24;
	cursor: pointer;
}
a:hover,
.playLink:hover a {
	color: #FFB630 !important;
}
p {
	margin: 0 0 10px 0;
}
ul,
ol {
	margin: 0 0 10px -20px;
}
#header {
	width: 100%;
	min-width: 860px;
	position: relative;
	margin-top: -5px;
}
#header .image {
	background-repeat: no-repeat !important;
	height: 200px;
	float: left;
	width: 50%;
	max-width: 50%;
	margin-bottom: 40px;
}
#header .image.left {
	background-position: right !important;
}
#header .image.right {
	background-position: left !important;
}
#logo {
	text-align: center;
	position: absolute;
	top: 103px;
	width: 100%;
}
#logo img {
	position: relative;
	left: 19px;
}
#navBar {
	margin: 5px 0 20px 0;
	text-align: center;
	font-size: 18px;
	cursor: default;
}
#navBar a {
	color: #D0D0D0;
}
#content {
	width: 860px;
	margin: 0 auto;
	overflow: auto;
}
.tweet,
.event {
	line-height: 22px;
	margin-bottom: 10px;
}
.tweet .title,
.event .title,
.subHeading {
	font-size: 120%;
	color: #C3C65D;
	line-height: 22px;
}
.tweet .title::before,
.tweet .title::after {
	font-weight: bold;
	line-height: 22px;
	font-size: 170%;
	vertical-align: top;
}
.tweet .title::before {
	content: "\201C";
	display: inline-block;
	margin-right: 3px;
}
.tweet .title::after {
	content: "\201D";
	display: inline-block;
	margin-left: 3px;
}
.tweet .title a {
	color: #FFB630;
}
.tweet .time,
.event .description,
.event .location,
.event .time {
	font-size: 80%;
	color: gray;
	line-height: 17px;
	margin-top: 5px;
}
.tweet .time a {
	color: gray;
}
.heading {
	color: #33619E;
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 5px;
	font-style: italic;
}
#footer {
	width: 860px;
	margin: 10px auto;
	color: #D0D0D0;
	text-align: center;
	font-size: 80%;
}
#footer a {
	color: #D0D0D0;
}
.third {
	width: 260px;
	float: left;
	min-height: 390px;
}
.third.left {
	border-right: 1px solid #D0D0D0;
	padding-right: 19px;
	margin-right: 20px;
}
.third.right {
	border-left: 1px solid #D0D0D0;
	padding-left: 19px;
	margin-left: 20px;
}
.half {
	width: 410px;
	float: left;
}
.half.left {
	border-right: 1px solid #D0D0D0;
	padding-right: 20px;
}
.half.right {
	border-left: 1px solid #D0D0D0;
	padding-left: 19px;
	margin-left: -1px;
}
.half.right img {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}
.half.right img.noSpace {
	margin-bottom: 0;
}
.playLink {
	height: 30px;
	background-image: url('images/play.png');
	background-position: top left;
	background-repeat: no-repeat;
	white-space: nowrap;
	line-height: 30px;
	cursor: pointer;
	margin-bottom: 10px;
	padding-left: 35px;
	float: left;
}
.playLink:hover {
	background-position: bottom left;
}
.more {
	display: none;
	padding-top: 20px;
	clear: both;
}
.book {
	text-align: center !important;
	margin-top: 10px;
}
.book img {
	max-width: 150px;
	border: 1px solid #D0D0D0;
}