{% extends 'partials/_master.twig' %}

{% block main %}

    <div class="content">
        <div class="third left">
            {{ homepage.teaser }}
            <a class="action-link play-link" href="showreel">watch my showreel</a><br/>
            <a class="action-link" href="follow">find out what I'm up to</a>
        </div>
        <div class="third middle">
            <img src="{{ asset('img/photo_wall.jpg', 'theme') }}" alt="" class="noTitle"/>
        </div>
        <div class="third right">
            <h1>twitter</h1>
            <div class="tweets" data-max-items="1">
            </div>
            <a class="action-link" href="https://twitter.com/DilgerTV">follow <i>@DilgerTV</i> on twitter</a>
            <h1>coming up</h1>
            <div class="future-events" data-max-items="1">
                <div class=\"event\">(No upcoming events)</div>
            </div>
            <a class="action-link" href="follow">see more updates</a>
        </div>
    </div>

{% endblock main %}
