{% extends 'partials/_master.twig' %}

{% block main %}

    <div class="content">
        <div class="half left">
            {{ page.teaser }}
            {{ page.body }}
        </div>
        <div class="half right">
            <div class="image-block">
                <img src="images/photo_badgers.jpg" alt=""/>
                <img src="images/banner_04.jpg" alt=""/>
                <img src="images/banner_14.jpg" alt=""/>
                <img src="images/banner_24.jpg" alt=""/>
                <img src="images/banner_12.jpg" alt=""/>
                <img src="images/banner_02.jpg" alt=""/>
                <img src="images/banner_25.jpg" alt=""/>
                <img src="images/banner_26.jpg" alt=""/>
                <img src="images/banner_27.jpg" alt=""/>
                <img src="images/banner_05.jpg" alt="" class="noSpace"/>
            </div>
        </div>
    </div>

{% endblock main %}
